@tailwind base;
@tailwind components;
@tailwind utilities;

.maketriangle{
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.make_triangle_block_right::before{
    content: "";
    background-color: #166958;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -8px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.make_triangle_block_left::before{
    content: "";
    background-color: #202c33;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: -8px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}